<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Parking Web Frontend</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
          <ul class="navbar-nav flex-grow">
              <li class="nav-item"
                  [routerLinkActive]="['link-active']"
                  [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                  <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                  <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Parking</a>
                  <ul class="dropdown-menu">
                      <li [routerLinkActive]="['link-active']"><a class="dropdown-item" [routerLink]="['/fetch-data']">Sample data</a></li>

                      <li class="dropdown-divider"></li>
                      <li><a class="dropdown-item" [routerLink]="['/parking-in']">Check In</a></li>
                      <li><a class="dropdown-item" [routerLink]="['/parking-out']">Check Out</a></li>

                      <li class="dropdown-divider"></li>
                      <li><a class="dropdown-item" [routerLink]="['/parking-vehicle']">Vehicle</a></li>
                      <li class="dropdown-divider"></li>
                      <li><a class="dropdown-item" [routerLink]="['/']">Log Out</a></li>

                  </ul>
              </li>

          </ul>
      </div>
    </div>
  </nav>
</header>
